---
layout: default
title: Home
link: Forum
weight: 100000
---

<p>Hello everyone, I took the forums offline but backed up everything; it's mostly just been sitting around gathering dust and taking up resources on my server. If there's ever a need to restore it in the future (AKA when N8* is remade) I can do that pretty easily. I've started porting over the information into a different easily parseable format in case anybody wanted some of the info. I also might be able to provide a dumps of the full database minus all of the sensitive information if it's really needed.</p>

<h3><a href="//pixellegacy.com/">A link to the WIP port of the information</a></h3>

<p>I've included some <a href="//pixellegacy.com/community/">community resources</a> on the above site, along with some basic chat/comment functionality there, in case you wanted to remain updated on any further news.</p>

<p>And if you've noticed, I also removed all of my music from the root "pixellegacy.com/" address and moved it over to my private website since it didn't really belong on this domain. I'm considering eventually getting rid of the "pixellegacy.com" domain as well, considering that someone is running a business off of the "pixelegacy.com" domain named "pixelegacy", so I keep getting email from their clients from mistaking the spelling. :^| <small>(people need to learn how to spell tbh)</small></p>

<p>Hopefully taking the forums down doesn't inconvenience anyone too much. I do have plans to make some N8* related content soonish, but no promises on <em>when</em> that soonish will be. Aion is also likely working on whatever whenever, so it's just a matter of doing things sometime eventually.</p>

<p><span style="float:right;">- Pillow / Wizard / Xelivous</span></p>