<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{site.name}}</title>
    {% css main.css %}
</head>
<body>
    <header><h1>{{site.name}}</h1> <span>A temporary placeholder website thing.</span></header>
    <nav>
        {% include nav/pages.html %}
    </nav>
